parameters:
    level: 6
    paths:
        - config
        - database
        - src
        - tests
    ignoreErrors:
        - '#.* type has no value type specified in iterable type array.#'
        - '#.* has parameter \$\w+ with no value type specified in iterable type array\.#'
