@import './wordpress.scss';
@import './variables.scss';

// TODO: Probably want to remove this when done.
.laraberg__editor {
  width: 100%;
  overflow-y: auto;
  border: 1px solid #e2e4e7;
}

.laraberg__editor .edit-post-sidebar{
  position: absolute;
}

.laraberg__editor .edit-post-layout .edit-post-layout__content {
  height: unset;
}
