.gutenberg__editor {
  .block-editor-block-types-list__list-item {
    width: 30%;
  }
  .components-drop-zone__provider,
  .components-navigate-regions {
    height: auto;
    position: static;
  }

  .edit-post-layout__content {
    position: static;
    margin-left: 0;
    min-height: calc(250px - 56px);
    height: auto;
    overflow-y: auto;
  }

  .edit-post-layout {
    height: auto;
    position: relative;
    top: 0;
    left: 0;
  }

  .edit-post-pinned-plugins {
    display: flex;
  }

  .edit-post-visual-editor {
    padding-top: 25px;
    padding-bottom: 75px;
    height: auto;
  }

  .block-editor-block-breadcrumb {
    .components-button.is-tertiary {
      padding: 0 8px;
    }
  }

  .components-button.has-icon {
    padding: 0;
  }
}

@media (min-width: 600px) {
  .gutenberg__editor {
    .edit-post-header {
      position: static;
      top: 0;
    }

    .edit-post-layout {
      padding-top: 0;
    }
  }
}

.gutenberg__editor.fixed-height {
  .components-drop-zone__provider,
  .components-navigate-regions {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .edit-post-layout__content {
    height: calc(100% - 56px);
  }

  .edit-post-layout {
    height: 100%;
  }

  .editor-writing-flow {
    height: auto;
  }
}

.gutenberg__content {
  .wp-block-columns {
    display: flex;
  }
}
